<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guestbook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
  <body>

    <h1>Guestbook</h1>

    <p>Current entries in the guestbook:</p>

  <table>
      <tr>
          <th>User</th><th>Comment</th>
      </tr>
      <tr th:each="entry: ${entries}">
          <td th:text="${entry.user}"></td>
          <td th:text="${entry.comment}"></td>
      </tr>
  </table>

  </body>
</html>